.footer__links {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    grid-row-gap: 32px;
  }
}
