.footer {
  width: calc(100% - 48 * 2px);
  margin: 92px auto 28px auto;
  display: grid;
  grid-template-columns: repeat(5, min-content) 1fr;
  grid-column-gap: 18px;
  justify-items: end;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: 93.75%;
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    justify-items: start;
    margin-top: 64px;
    width: 90%;
    margin-bottom: 5%;
    grid-row-gap: 32px;
  }
}
